<% for (const item of items) { %>
<div class="talk-item">
  <div class="talk-year"><%= item.year %></div>
  <div>
    <span class="talk-venue"><%= item.venue %></span>
    <div class="talk-detail"><%= item.detail %></div>
  </div>
</div>
<% } %>
